body{
	overflow-x: hidden; 
}

.laddaned{

	padding: 10px;
}

.underv{
	background-color: #e80c94;
	height: 40px;
	width: 300px;
	
	

}

.kalender{
	width: 295px;
	height: 200px;
	border: solid 2px #e80c94;
	border-radius: 20px;
	padding: 10px;

	}

.ruta{
		padding: 20px;
	}
}

.bilder{
height: 500px;

}

.quiz{
	width: 295px;
	height: 200px;
	border: solid 2px #e80c94;
	border-radius: 20px;
	padding: 10px;
}

.carousel-inner{
		height: 100%;
	width: 100%;

}
.cookie{
	height: 300px;
	text-align: center;

  
}

.kaka{
	height: 100px;
	width: 100px;
}

.quiz1{
	background-color: #e80c94;
}

nav{
	background-color: #fff;
	box-shadow: 0px 3px 15px 1px black;
}

.ner{
	margin-top: 20px;
}

.upp{
	margin-top: -20px;
}

.fas {
	font-size: 4em;
}

.fa-venus{
	color: #e80c94;
}

.fa-chalkboard-teacher{
	color: #99cc33;
}

.fa-laptop-code{

	color: #cc6633;
}

.upp2{
	margin-top: -70px;
}

