body{
	overflow-x: hidden; 
}

.laddaned{

	padding: 10px;
}

.underv{
	background-color: #e80c94;
	height: 40px;
	width: 300px;
	
	

}

.kalender{
	width: 295px;
	height: 200px;
	border: solid 2px #666666;
	border-radius: 20px;
	padding: 10px;

	}

.ruta{
		padding: 20px;
	}
}

.bilder{
height: 500px;

}

.quiz{
	width: 295px;
	height: 200px;
	border: solid 2px #666666;
	border-radius: 20px;
	padding: 10px;
}

.carousel-inner{
		height: 100%;
	width: 100%;

}
.cookie{
	height: 300px;
	text-align: center;

  
}

.kaka{
	height: 100px;
	width: 100px;
}

.quiz1{
	background-color: #e80c94;
}

nav{
	background-color: #fff;
	box-shadow: 0px 3px 15px 1px black;
}

.ner{
	margin-top: 20px;
}

.upp{
	margin-top: -20px;
}

.fas {
	font-size: 4em;
}

.fa-venus{
	color: #e80c94;
}

.fa-chalkboard-teacher{
	color: #99cc33;
}

.fa-laptop-code{

	color: #cc6633;
}

.upp2{
	margin-top: -70px;
}

.cookie{
	text-align: center;
	margin-top: 100px;

}

footer{
text-align: center;
background-color: #e80c94;
padding: 20px;
	}

	.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.youtube{
	padding: 20px;
	}

.effekt:hover{
	background-color:  #e80c94;
	border-radius: 20px;
}

.kontakt{
	background-color: #e80c94;
	height: 400px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.mentorer{
	width: 50px;
}
.sektioner{
	padding-top: 140px;
}

section{
margin-top: -140px;
padding-top: 140px;

}
html {
  scroll-behavior: smooth;
}